Flask==2.1.1
opencv-python-headless==4.5.4.60
numpy==1.20.3
Flask
Flask-OAuthlib
psycopg2
psycopg2-binary
beautifulsoup4
nltk
authlib
psycopg2
Werkzeug
textblob
Jinja2
Werkzeug
oauthlib
click
gunicorn
itsdangerous
six
newspaper3k


